.Fifthimg{
  background-image: url(../Pictures/genepic1.jpg);
  height: 105vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  max-width: 100%;
}

.Fifthheading{
  padding-top: 100px;
  padding-left: 80px;
  margin:0;
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 2em;
}
