.Six {
  background-color: rgb(3, 6, 73);
  margin-top: 0px;
  height:100vh;
}

.Genecode {
  font-size: 5rem;
  color: rgb(244, 212, 66);
  text-align: center;
  padding-top: 13%;
}

.Seperator{
    background-color: #fff;
    display: block;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 25px;
    vertical-align: baseline;
    opacity: 0.5;
}

.Sixparagraph {
  margin:0;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding-top: 0;
  line-height: 1em;
}
